%h2
  Kategorie
  = @category.name

= link_to 'Neue Phrase anlegen', new_backend_category_phrase_path(@category)

%h3
  Phrasen
%table
  %thead
    %tr
      %th
        Id
      %th
        Text
      %th
        Übersetzung
      %th
        Sprache
  %tbody
    - @phrases.each do |phrase|
      %tr
        %td
          = phrase.id
        %td
          = phrase.text
        %td
          = phrase.translation
        %td
          = phrase.language.name
        %td
          = link_to 'edit', edit_backend_category_phrase_path(@category, phrase)
          = link_to 'delete', backend_category_phrase_path(@category, phrase), method: "delete", data: { confirm: "Orly?" }
